<!DOCTYPE html>
<html>
<head>
  <title>Consecpol</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "consecpol/application", media: "all" %>
  <%= javascript_include_tag "consecpol/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
